@import 'compass';
@import 'fonts';

.image-background {
  background-image: url("/assets/modern-bg.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  .image-overlay {
    background-color: #1C1C1C;
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
  
  #outer-wrap {
    width: 525px;
    height: calc(100% - 60px);
    box-sizing: border-box;
    margin: 4.5em;
    background: transparent;
    float: left;
    color: white;
    padding-left: 30px;
    
    #logo {
      font-size: 3.5em;
      @include bulletto;
      transform: rotateZ(-3deg) skewX(-5deg);
      display: inline-block;
      margin: 20px 0 0 -30px;
    }
    
    .white-text {
      color: white;
    }
    
    .title {
      font-family: 'Bitter';
      font-size: 1.8em;
      margin-top: 40px;
    }
    
    .grey-description {
      font-family: 'Hind';
      color: #999999;
      line-height: 22px;
    }
    
    .upper-description {
      margin-top: 40px;
      float: left;
    }
    
    .lower-description {
      margin-top: 40px;
      float: left;
    }
    
    input.email {
      border-radius: 3px;
      width: 80%;
      margin: 40px auto 0;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      border: none;
      padding: 0 15px;
      font-family: 'Bitter';
      letter-spacing: 0.5px;
      color: #232323;
      font-size: 0.78em;
      float: left;
      
      &:focus {
        outline: none;
        border-color: #BD0E0E;
        box-shadow: 0 0 7px #BD0E0E;
      }
    }
    
    span.submit {
      display: inline-block;
      float: left;
      border-radius: 5px;
      background-color: #E50404;
      text-align: center;
      width: 35px;
      height: 35px;
      font-size: 2em;
      line-height: 32.5px;
      vertical-align: middle;
      margin: 41.5px 0 0 10px;
      
      &:hover {
        cursor: pointer;
        background-color: #F82020;
        transition: background-color 0.2s;
      }
    }
    
    .social-media-wrapper {
      width: 300px;
      min-width: 300px;
      float: left;
      display: flex;
      justify-content: space-between;
      margin: 50px 0 0 85px;
      
      .icon {
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
      }
      
      .facebook {
        background-image: url("/assets/facebook.png");
      }
      
      .instagram {
        background-image: url("/assets/instagram.png");
      }
      
      .twitter {
        background-image: url("/assets/twitter.png");
      }
      
      .google {
        background-image: url("/assets/googleplus.png")
      }
    }
    
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
